[submodule "code/Desafio02"]
	path = code/Desafio02
	url = https://github.com/Hygor/2020RSGSB11-02.git
[submodule "code/Desafio03"]
	path = code/Desafio03
	url = https://github.com/Hygor/2020RSGSB11-03.git
[submodule "code/Desafio04"]
	path = code/Desafio04
	url = https://github.com/Hygor/2020RSGSB11-04.git
[submodule "code/Desafio05"]
	path = code/Desafio05
	url = https://github.com/Hygor/2020RSGSB11-05.git
